/* body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

section#quoteBox {
  min-height: 90vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 605px;
  height: 100%;
  z-index: 20;
  border-radius: 15px;
  padding: 30px 30px 25px;
  border: 5px solid lightgray;
}

.wrapper header {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

.wrapper .content {
  margin: 35px;
}

.wrapper .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area .quote {
  font-size: 22px;
  text-align: center;
}

.content .author {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-style: italic;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

video {
  z-index: -1000;
  left: 50%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.showcase {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

/* video {
  /* position: absolute;
  bottom: 0px;
  right: 0px;
  /* min-width: 70%; */
/* max-width: 100%; */
/* min-height: 100%; */
/* width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; */
/* z-index: -1000;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

/* .showcase {
  /* position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh; */
/* display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%; */
